<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.PoiDao">
        <insert id="insert">
            insert into t_user values
            <foreach collection="list" item="item" separator=",">
                (#{item.id},#{item.name},#{item.password},#{item.bir})
            </foreach>
        </insert>

</mapper>
